<template>
    <div class="container">
        <div class="media-display" v-if="source != null">
            <transition name="fade">
                <img :key="source" v-if="!isVideo" :src="completeUrl(source)" alt="">
                <video ref="video" preload="metadata" autoplay muted :key="source" v-else :src="completeUrl(source)" width="100%"></video>
            </transition>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .container {
        img {
            width: 100%;
        }

        img, video {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
</style>

<script>
    import store from '../includes/store';

    export default {
        data () {
            return {
                source: '',
                backToHomeTimeout: null,
                introTimeout: null,
                defaultIntroSliderTime: 10000,
                currentIntroItem: 0,
                introMedia: []
            }
        },
        computed: {
            isVideo () {
                return this.source.indexOf('mp4') !== -1
            },
            backToHomeTime() {
                return this.$store.getters.backToHomeTime;
            }
        },
        methods: {
          completeUrl(filename) {
              return '/storage/' + filename;
          },
            nextSlide() {
                if (this.currentIntroItem >= this.introMedia.length) {
                    this.currentIntroItem = 0;
                }
                console.log('Item', this.currentIntroItem);
                this.source = this.introMedia[this.currentIntroItem].source || this.introMedia[this.currentIntroItem].image
                this.currentIntroItem++;

                let time = this.defaultIntroSliderTime;
                Vue.nextTick(() => {
                    if (this.isVideo) {
                        //time = this.$refs.video
                        //console.log('duration video', time)
                    }
                    if (this.introMedia.length <= 1) {
                        return;
                    }
                    this.introTimeout = setTimeout(() => {
                        this.nextSlide()
                    }, time)
                })

            },
            showIntro() {
                this.nextSlide()
            },
            resetBackToHomeTimeout() {
                if (this.backToHomeTimeout !== null) {
                    clearTimeout(this.backToHomeTimeout)
                }
                this.backToHomeTimeout = setTimeout(() => {
                    this.showIntro();
                }, this.backToHomeTime)
            }
        },
        mounted () {

            axios.get('api/media')
                .then(res => {
                    const items = res.data.data.media
                    this.introMedia = res.data.data.intro

                    items.forEach((item) => {
                        var img = new Image();
                        img.src = this.completeUrl(item.image);
                    })
                    this.showIntro()
                })

            socket.on('media-changed', e => {
                console.log('Media changed', e)
                this.source = e
                this.resetBackToHomeTimeout()
            })
            socket.on('force-update', e => {
                console.log('Force update', e)
                window.location.reload();
            })
            socket.on('route-home', e => {
                this.showIntro()
                this.resetBackToHomeTimeout()
            })

            this.resetBackToHomeTimeout()
        }
    }
</script>
